@font-face {
    font-family: "RobotoCondensed-Regular" ;
    src: url(../storage/fuentes/Roboto_Condensed/static/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: "RobotoCondensed-Bold" ;
    src: url(../storage/fuentes/Roboto_Condensed/static/RobotoCondensed-Bold.ttf);
}
